/* Header */

header {
    padding: 0px;
    
}

body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.header-full {
    background-color: #1F2937;
}

.header1 {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    align-items: center;
    background-color: #1F2937;
}
.header2 {
    display: flex;
    justify-content: space-between;
}
.header2-text {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}
    
#img1 {
    width: 600px;
}

ul a {
    text-decoration: none;
}
ul {
    list-style: none;
    display: flex;
    gap: 60px;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    background-color: #3882F6;
    width: 100px;
    height: 30px;
}

.h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}
.p1 {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


/* middle part */